@keyframes colorhue{
    from {-webkit-filter: hue-rotate(0deg); filter: hue-rotate(0deg);}
    to {-webkit-filter: hue-rotate(359deg); filter: hue-rotate(359deg);}
}

.edit {
.controller.xbox {
    background: url(xbox-assets/base-white.svgz);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}
}
